[submodule "murry2018/monkey"]
	path = murry2018/monkey
	url = https://github.com/murry2018/monkey.git
[submodule "fienestar/monkey"]
	path = fienestar/monkey
	url = https://github.com/fienestar/monkey
[submodule "firekann/monkey"]
	path = firekann/monkey
	url = https://github.com/firekann/monkey.git
